<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consequuntur provident quibusdam. Accusantium, impedit necessitatibus?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit soluta sint repellat quas hic ratione sunt impedit ex mollitia quasi?</p>
    <a href="https://web.whatsapp.com/" class="btn btn-primary">Whatsapp</a>
</div>

